header{
    display: block;
    height: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    @include transitionEffect(all, 0.2s, ease-in-out);

    .navbar-expand-lg{
        background-color: #010101;
        padding: 34.5px 15px;
        @include transitionEffect(all, 0.2s, ease-in-out);
        @include boxShadow(5px 10px 21px, rgba(0, 0, 0, .2));

        @include media(991){
            padding: 15px;
        }

        .navbar-brand{
            margin: 0;
            padding: 0;
            line-height: initial;

            @include media(991){
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            a{
                display: inline-block;
                max-width: 210px;

                @include media(991){
                    max-width: 160px;
                    margin-right: 0;
                }

                img{
                    max-width: 100%;
                }
            }

            .navbar-toggler{
                border: 0;
                outline: none;
                box-shadow: none;
                padding: 0;
                line-height: initial;
                font-size: initial;
    
                .menuButton {
                    width: 30px;
                    height: 24px;
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
            
                    span.line{
                        display: block;
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        background: white;
                        opacity: 1;
                        left: 0;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: .25s ease-in-out;
                        -moz-transition: .25s ease-in-out;
                        -o-transition: .25s ease-in-out;
                        transition: .25s ease-in-out;
            
                        &:nth-child(1) {
                            top: 0px;
                        }
            
                        &:nth-child(2) {
                            top: 10px;
                        }
            
                        &:nth-child(3) {
                            top: 20px;
                        }
            
                    }
                }
    
                &[aria-expanded='true']{
                    .menuButton{
                        span.line:nth-child(1){
                            opacity: 1;
                            width: 100%;
                            top: 8px;
                            position: absolute;
                            -webkit-transform: rotate(135deg);
                            -moz-transform: rotate(135deg);
                            -o-transform: rotate(135deg);
                            transform: rotate(135deg);
                        }
                        span.line:nth-child(2){
                            opacity: 0;
                        }
                        span.line:nth-child(3){
                            opacity: 1;
                            width: 100%;
                            top: 8px;
                            -webkit-transform: rotate(-135deg);
                            -moz-transform: rotate(-135deg);
                            -o-transform: rotate(-135deg);
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
        }

        .navbar-menu{
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @include media(991){
                margin-top: 30px;
            }

            .navbar-start{
                justify-content: flex-start;
                margin-right: auto;
    
                .navbar-nav{
                    margin: 0;
                    padding: 0;
                    margin-left: 30px;

                    @include media(991){
                        margin-left: 0;
                    }
    
                    & > li{
                        position: relative;
                        display: inline-block;
    
                        & > a{
                            display: inline-block;
                            padding: 5px 7.5px;
                            color: white;
                            font-size: emCalc(16);
                            @include media(991){
                                padding-left: 0;
                            }
                        }
    
                    }
    
                }
            }

            .navbar-end{
                justify-content: flex-end;
                margin-left: auto;
                    
                @include media(991){
                    margin-top: 30px;
                }

                .btn{
                    background: white;
                    margin: 0;
                }

            }

        }

    }

    &.active{
        .navbar-expand-lg{
            padding: 29.25px 15px;
        }
    }

}