.p0 {
	padding: 0!important;
}

.pt10 {
	padding-top: 10px!important;
}

.pt15 {
	padding-top: 15px!important;
}

.pt20 {
	padding-top: 20px!important;
}

.pt30 {
	padding-top: 30px!important;
}

.pt40 {
	padding-top: 40px!important;
}

.pt50 {
	padding-top: 50px!important;
}

.pt60 {
	padding-top: 60px!important;
}

.pt70 {
	padding-top: 70px!important;
}

.pt80 {
	padding-top: 80px!important;
}

.pt90 {
	padding-top: 90px!important;
}

.pt100 {
	padding-top: 100px!important;
}

.pt110 {
	padding-top: 110px!important;
}

.pt120 {
	padding-top: 120px!important;
}

.pt130 {
	padding-top: 130px!important;
}

.pt140 {
	padding-top: 140px!important;
}

.pb0 {
	padding-bottom: 0px!important;
}

.pb10 {
	padding-bottom: 10px!important;
}

.pb15 {
	padding-bottom: 15px!important;
}

.pb20 {
	padding-bottom: 20px!important;
}

.pb30 {
	padding-bottom: 30px!important;
}

.pb40 {
	padding-bottom: 40px!important;
}

.pb50 {
	padding-bottom: 50px!important;
}

.pb60 {
	padding-bottom: 60px!important;
}

.pb70 {
	padding-bottom: 70px!important;
}

.pb80 {
	padding-bottom: 80px!important;
}

.pb90 {
	padding-bottom: 90px!important;
}

.pb100 {
	padding-bottom: 100px!important;
}

.pb110 {
	padding-bottom: 110px!important;
}

.pb120 {
	padding-bottom: 120px!important;
}

.pb130 {
	padding-bottom: 130px!important;
}

.pb140 {
	padding-bottom: 140px!important;
}

.pl0 {
	padding-left: 0px!important;
}

.pl3 {
	padding-left: 3px!important;
}

.pl5 {
	padding-left: 5px!important;
}

.pl10 {
	padding-left: 10px!important;
}

.pl15 {
	padding-left: 15px!important;
}

.pl20 {
	padding-left: 20px!important;
}

.pl30 {
	padding-left: 30px!important;
}

.pl40 {
	padding-left: 40px!important;
}

.pl50 {
	padding-left: 50px!important;
}

.pl60 {
	padding-left: 60px!important;
}

.pl70 {
	padding-left: 70px!important;
}

.pl80 {
	padding-left: 80px!important;
}

.pl90 {
	padding-left: 90px!important;
}

.pl100 {
	padding-left: 100px!important;
}

.pr0 {
	padding-right: 0px!important;
}

.pr5 {
	padding-right: 5px!important;
}

.pr10 {
	padding-right: 10px!important;
}

.pr15 {
	padding-right: 15px!important;
}

.pr20 {
	padding-right: 20px!important;
}

.pr30 {
	padding-right: 30px!important;
}

.pr40 {
	padding-right: 40px!important;
}

.pr50 {
	padding-right: 50px!important;
}

.pr60 {
	padding-right: 60px!important;
}

.pr70 {
	padding-right: 70px!important;
}

.pr80 {
	padding-right: 80px!important;
}

.pr90 {
	padding-right: 90px!important;
}

.pr100 {
	padding-right: 100px!important;
}

.pr110 {
	padding-right: 110px!important;
}

.pr120 {
	padding-right: 120px!important;
}

.mr-auto {
	margin: auto!important;
	float: none!important;
}

.mt0 {
	margin-top: 0!important;
}

.mt5 {
	margin-top: 5px!important;
}

.mt10 {
	margin-top: 10px!important;
}

.mt20 {
	margin-top: 20px!important;
}

.mt30 {
	margin-top: 30px!important;
}

.mt40 {
	margin-top: 40px!important;
}

.mt50 {
	margin-top: 50px!important;
}

.mt60 {
	margin-top: 60px!important;
}

.mt70 {
	margin-top: 70px!important;
}

.mt80 {
	margin-top: 80px!important;
}

.mt90 {
	margin-top: 90px!important;
}

.mt100 {
	margin-top: 100px!important;
}

.mt110 {
	margin-top: 110px!important;
}

.mt120 {
	margin-top: 120px!important;
}

.mb0 {
	margin-bottom: 0!important;
}

.mb5 {
	margin-bottom: 5px!important;
}

.mb10 {
	margin-bottom: 10px!important;
}

.mb15 {
	margin-bottom: 15px!important;
}

.mb20 {
	margin-bottom: 20px!important;
}

.mb30 {
	margin-bottom: 30px!important;
}

.mb40 {
	margin-bottom: 40px!important;
}

.mb50 {
	margin-bottom: 50px!important;
}

.mb60 {
	margin-bottom: 60px!important;
}

.mb70 {
	margin-bottom: 70px!important;
}

.mb80 {
	margin-bottom: 80px!important;
}

.mb90 {
	margin-bottom: 90px!important;
}

.mb100 {
	margin-bottom: 100px!important;
}

.mb110 {
	margin-bottom: 110px!important;
}

.mb120 {
	margin-bottom: 120px!important;
}

.ml0 {
	margin-left: 0!important;
}

.ml15 {
	margin-left: 5px!important;
}

.ml10 {
	margin-left: 10px!important;
}

.ml20 {
	margin-left: 20px!important;
}

.ml30 {
	margin-left: 30px!important;
}

.ml40 {
	margin-left: 40px!important;
}

.ml50 {
	margin-left: 50px!important;
}

.ml60 {
	margin-left: 60px!important;
}

.ml70 {
	margin-left: 70px!important;
}

.ml80 {
	margin-left: 80px!important;
}

.ml90 {
	margin-left: 90px!important;
}

.ml100 {
	margin-left: 100px!important;
}

.ml110 {
	margin-left: 110px!important;
}

.mr0 {
	margin-right: 0!important;
}

.mr5 {
	margin-left: 5px!important;
}

.mr10 {
	margin-right: 10px!important;
}

.mr20 {
	margin-right: 20px!important;
}

.mr30 {
	margin-right: 30px!important;
}

.mr40 {
	margin-right: 40px!important;
}

.mr50 {
	margin-right: 50px!important;
}

.mr60 {
	margin-right: 60px!important;
}

.mr70 {
	margin-right: 70px!important;
}

.mr80 {
	margin-right: 80px!important;
}

.mr90 {
	margin-right: 90px!important;
}

.mr100 {
	margin-right: 100px!important;
}

.mr110 {
	margin-right: 110px!important;
}

@media only screen and (max-width: 991px){
	.md-p0 {
		padding: 0!important;
	}

	.md-pt10 {
		padding-top: 10px!important;
	}

	.md-pt15 {
		padding-top: 15px!important;
	}

	.md-pt20 {
		padding-top: 20px!important;
	}

	.md-pt30 {
		padding-top: 30px!important;
	}

	.md-pt40 {
		padding-top: 40px!important;
	}

	.md-pt50 {
		padding-top: 50px!important;
	}

	.md-pt60 {
		padding-top: 60px!important;
	}

	.md-pt70 {
		padding-top: 70px!important;
	}

	.md-pt80 {
		padding-top: 80px!important;
	}

	.md-pt90 {
		padding-top: 90px!important;
	}

	.md-pt100 {
		padding-top: 100px!important;
	}

	.md-pt110 {
		padding-top: 110px!important;
	}

	.md-pt120 {
		padding-top: 120px!important;
	}

	.md-pt130 {
		padding-top: 130px!important;
	}

	.md-pt140 {
		padding-top: 140px!important;
	}

	.md-pb0 {
		padding-bottom: 0px!important;
	}

	.md-pb10 {
		padding-bottom: 10px!important;
	}

	.md-pb15 {
		padding-bottom: 15px!important;
	}

	.md-pb20 {
		padding-bottom: 20px!important;
	}

	.md-pb30 {
		padding-bottom: 30px!important;
	}

	.md-pb40 {
		padding-bottom: 40px!important;
	}

	.md-pb50 {
		padding-bottom: 50px!important;
	}

	.md-pb60 {
		padding-bottom: 60px!important;
	}

	.md-pb70 {
		padding-bottom: 70px!important;
	}

	.md-pb80 {
		padding-bottom: 80px!important;
	}

	.md-pb90 {
		padding-bottom: 90px!important;
	}

	.md-pb100 {
		padding-bottom: 100px!important;
	}

	.md-pb110 {
		padding-bottom: 110px!important;
	}

	.md-pb120 {
		padding-bottom: 120px!important;
	}

	.md-pb130 {
		padding-bottom: 130px!important;
	}

	.md-pb140 {
		padding-bottom: 140px!important;
	}

	.md-pl0 {
		padding-left: 0px!important;
	}

	.md-pl3 {
		padding-left: 3px!important;
	}

	.md-pl5 {
		padding-left: 5px!important;
	}

	.md-pl10 {
		padding-left: 10px!important;
	}

	.md-pl15 {
		padding-left: 15px!important;
	}

	.md-pl20 {
		padding-left: 20px!important;
	}

	.md-pl30 {
		padding-left: 30px!important;
	}

	.md-pl40 {
		padding-left: 40px!important;
	}

	.md-pl50 {
		padding-left: 50px!important;
	}

	.md-pl60 {
		padding-left: 60px!important;
	}

	.md-pl70 {
		padding-left: 70px!important;
	}

	.md-pl80 {
		padding-left: 80px!important;
	}

	.md-pl90 {
		padding-left: 90px!important;
	}

	.md-pl100 {
		padding-left: 100px!important;
	}

	.md-pr0 {
		padding-right: 0px!important;
	}

	.md-pr5 {
		padding-right: 5px!important;
	}

	.md-pr10 {
		padding-right: 10px!important;
	}

	.md-pr15 {
		padding-right: 15px!important;
	}

	.md-pr20 {
		padding-right: 20px!important;
	}

	.md-pr30 {
		padding-right: 30px!important;
	}

	.md-pr40 {
		padding-right: 40px!important;
	}

	.md-pr50 {
		padding-right: 50px!important;
	}

	.md-pr60 {
		padding-right: 60px!important;
	}

	.md-pr70 {
		padding-right: 70px!important;
	}

	.md-pr80 {
		padding-right: 80px!important;
	}

	.md-pr90 {
		padding-right: 90px!important;
	}

	.md-pr100 {
		padding-right: 100px!important;
	}

	.md-pr110 {
		padding-right: 110px!important;
	}

	.md-pr120 {
		padding-right: 120px!important;
	}

	.md-mr-auto {
		margin: auto!important;
		float: none!important;
	}

	.md-mt0 {
		margin-top: 0!important;
	}

	.md-mt5 {
		margin-top: 5px!important;
	}

	.md-mt10 {
		margin-top: 10px!important;
	}

	.md-mt20 {
		margin-top: 20px!important;
	}

	.md-mt30 {
		margin-top: 30px!important;
	}

	.md-mt40 {
		margin-top: 40px!important;
	}

	.md-mt50 {
		margin-top: 50px!important;
	}

	.md-mt60 {
		margin-top: 60px!important;
	}

	.md-mt70 {
		margin-top: 70px!important;
	}

	.md-mt80 {
		margin-top: 80px!important;
	}

	.md-mt90 {
		margin-top: 90px!important;
	}

	.md-mt100 {
		margin-top: 100px!important;
	}

	.md-mt110 {
		margin-top: 110px!important;
	}

	.md-mt120 {
		margin-top: 120px!important;
	}

	.md-mb0 {
		margin-bottom: 0!important;
	}

	.md-mb5 {
		margin-bottom: 5px!important;
	}

	.md-mb10 {
		margin-bottom: 10px!important;
	}

	.md-mb15 {
		margin-bottom: 15px!important;
	}

	.md-mb20 {
		margin-bottom: 20px!important;
	}

	.md-mb30 {
		margin-bottom: 30px!important;
	}

	.md-mb40 {
		margin-bottom: 40px!important;
	}

	.md-mb50 {
		margin-bottom: 50px!important;
	}

	.md-mb60 {
		margin-bottom: 60px!important;
	}

	.md-mb70 {
		margin-bottom: 70px!important;
	}

	.md-mb80 {
		margin-bottom: 80px!important;
	}

	.md-mb90 {
		margin-bottom: 90px!important;
	}

	.md-mb100 {
		margin-bottom: 100px!important;
	}

	.md-mb110 {
		margin-bottom: 110px!important;
	}

	.md-mb120 {
		margin-bottom: 120px!important;
	}

	.md-ml0 {
		margin-left: 0!important;
	}

	.md-ml15 {
		margin-left: 5px!important;
	}

	.md-ml10 {
		margin-left: 10px!important;
	}

	.md-ml20 {
		margin-left: 20px!important;
	}

	.md-ml30 {
		margin-left: 30px!important;
	}

	.md-ml40 {
		margin-left: 40px!important;
	}

	.md-ml50 {
		margin-left: 50px!important;
	}

	.md-ml60 {
		margin-left: 60px!important;
	}

	.md-ml70 {
		margin-left: 70px!important;
	}

	.md-ml80 {
		margin-left: 80px!important;
	}

	.md-ml90 {
		margin-left: 90px!important;
	}

	.md-ml100 {
		margin-left: 100px!important;
	}

	.md-ml110 {
		margin-left: 110px!important;
	}

	.md-mr0 {
		margin-right: 0!important;
	}

	.md-mr5 {
		margin-left: 5px!important;
	}

	.md-mr10 {
		margin-right: 10px!important;
	}

	.md-mr20 {
		margin-right: 20px!important;
	}

	.md-mr30 {
		margin-right: 30px!important;
	}

	.md-mr40 {
		margin-right: 40px!important;
	}

	.md-mr50 {
		margin-right: 50px!important;
	}

	.md-mr60 {
		margin-right: 60px!important;
	}

	.md-mr70 {
		margin-right: 70px!important;
	}

	.md-mr80 {
		margin-right: 80px!important;
	}

	.md-mr90 {
		margin-right: 90px!important;
	}

	.md-mr100 {
		margin-right: 100px!important;
	}

	.md-mr110 {
		margin-right: 110px!important;
	}
}

@media only screen and (max-width: 768px){
	.sm-p0 {
		padding: 0!important;
	}

	.sm-pt10 {
		padding-top: 10px!important;
	}

	.sm-pt15 {
		padding-top: 15px!important;
	}

	.sm-pt20 {
		padding-top: 20px!important;
	}

	.sm-pt30 {
		padding-top: 30px!important;
	}

	.sm-pt40 {
		padding-top: 40px!important;
	}

	.sm-pt50 {
		padding-top: 50px!important;
	}

	.sm-pt60 {
		padding-top: 60px!important;
	}

	.sm-pt70 {
		padding-top: 70px!important;
	}

	.sm-pt80 {
		padding-top: 80px!important;
	}

	.sm-pt90 {
		padding-top: 90px!important;
	}

	.sm-pt100 {
		padding-top: 100px!important;
	}

	.sm-pt110 {
		padding-top: 110px!important;
	}

	.sm-pt120 {
		padding-top: 120px!important;
	}

	.sm-pt130 {
		padding-top: 130px!important;
	}

	.sm-pt140 {
		padding-top: 140px!important;
	}

	.sm-pb0 {
		padding-bottom: 0px!important;
	}

	.sm-pb10 {
		padding-bottom: 10px!important;
	}

	.sm-pb15 {
		padding-bottom: 15px!important;
	}

	.sm-pb20 {
		padding-bottom: 20px!important;
	}

	.sm-pb30 {
		padding-bottom: 30px!important;
	}

	.sm-pb40 {
		padding-bottom: 40px!important;
	}

	.sm-pb50 {
		padding-bottom: 50px!important;
	}

	.sm-pb60 {
		padding-bottom: 60px!important;
	}

	.sm-pb70 {
		padding-bottom: 70px!important;
	}

	.sm-pb80 {
		padding-bottom: 80px!important;
	}

	.sm-pb90 {
		padding-bottom: 90px!important;
	}

	.sm-pb100 {
		padding-bottom: 100px!important;
	}

	.sm-pb110 {
		padding-bottom: 110px!important;
	}

	.sm-pb120 {
		padding-bottom: 120px!important;
	}

	.sm-pb130 {
		padding-bottom: 130px!important;
	}

	.sm-pb140 {
		padding-bottom: 140px!important;
	}

	.sm-pl0 {
		padding-left: 0px!important;
	}

	.sm-pl3 {
		padding-left: 3px!important;
	}

	.sm-pl5 {
		padding-left: 5px!important;
	}

	.sm-pl10 {
		padding-left: 10px!important;
	}

	.sm-pl15 {
		padding-left: 15px!important;
	}

	.sm-pl20 {
		padding-left: 20px!important;
	}

	.sm-pl30 {
		padding-left: 30px!important;
	}

	.sm-pl40 {
		padding-left: 40px!important;
	}

	.sm-pl50 {
		padding-left: 50px!important;
	}

	.sm-pl60 {
		padding-left: 60px!important;
	}

	.sm-pl70 {
		padding-left: 70px!important;
	}

	.sm-pl80 {
		padding-left: 80px!important;
	}

	.sm-pl90 {
		padding-left: 90px!important;
	}

	.sm-pl100 {
		padding-left: 100px!important;
	}

	.sm-pr0 {
		padding-right: 0px!important;
	}

	.sm-pr5 {
		padding-right: 5px!important;
	}

	.sm-pr10 {
		padding-right: 10px!important;
	}

	.sm-pr15 {
		padding-right: 15px!important;
	}

	.sm-pr20 {
		padding-right: 20px!important;
	}

	.sm-pr30 {
		padding-right: 30px!important;
	}

	.sm-pr40 {
		padding-right: 40px!important;
	}

	.sm-pr50 {
		padding-right: 50px!important;
	}

	.sm-pr60 {
		padding-right: 60px!important;
	}

	.sm-pr70 {
		padding-right: 70px!important;
	}

	.sm-pr80 {
		padding-right: 80px!important;
	}

	.sm-pr90 {
		padding-right: 90px!important;
	}

	.sm-pr100 {
		padding-right: 100px!important;
	}

	.sm-pr110 {
		padding-right: 110px!important;
	}

	.sm-pr120 {
		padding-right: 120px!important;
	}

	.sm-mr-auto {
		margin: auto!important;
		float: none!important;
	}

	.sm-mt0 {
		margin-top: 0!important;
	}

	.sm-mt5 {
		margin-top: 5px!important;
	}

	.sm-mt10 {
		margin-top: 10px!important;
	}

	.sm-mt20 {
		margin-top: 20px!important;
	}

	.sm-mt30 {
		margin-top: 30px!important;
	}

	.sm-mt40 {
		margin-top: 40px!important;
	}

	.sm-mt50 {
		margin-top: 50px!important;
	}

	.sm-mt60 {
		margin-top: 60px!important;
	}

	.sm-mt70 {
		margin-top: 70px!important;
	}

	.sm-mt80 {
		margin-top: 80px!important;
	}

	.sm-mt90 {
		margin-top: 90px!important;
	}

	.sm-mt100 {
		margin-top: 100px!important;
	}

	.sm-mt110 {
		margin-top: 110px!important;
	}

	.sm-mt120 {
		margin-top: 120px!important;
	}

	.sm-mb0 {
		margin-bottom: 0!important;
	}

	.sm-mb5 {
		margin-bottom: 5px!important;
	}

	.sm-mb10 {
		margin-bottom: 10px!important;
	}

	.sm-mb15 {
		margin-bottom: 15px!important;
	}

	.sm-mb20 {
		margin-bottom: 20px!important;
	}

	.sm-mb30 {
		margin-bottom: 30px!important;
	}

	.sm-mb40 {
		margin-bottom: 40px!important;
	}

	.sm-mb50 {
		margin-bottom: 50px!important;
	}

	.sm-mb60 {
		margin-bottom: 60px!important;
	}

	.sm-mb70 {
		margin-bottom: 70px!important;
	}

	.sm-mb80 {
		margin-bottom: 80px!important;
	}

	.sm-mb90 {
		margin-bottom: 90px!important;
	}

	.sm-mb100 {
		margin-bottom: 100px!important;
	}

	.sm-mb110 {
		margin-bottom: 110px!important;
	}

	.sm-mb120 {
		margin-bottom: 120px!important;
	}

	.sm-ml0 {
		margin-left: 0!important;
	}

	.sm-ml15 {
		margin-left: 5px!important;
	}

	.sm-ml10 {
		margin-left: 10px!important;
	}

	.sm-ml20 {
		margin-left: 20px!important;
	}

	.sm-ml30 {
		margin-left: 30px!important;
	}

	.sm-ml40 {
		margin-left: 40px!important;
	}

	.sm-ml50 {
		margin-left: 50px!important;
	}

	.sm-ml60 {
		margin-left: 60px!important;
	}

	.sm-ml70 {
		margin-left: 70px!important;
	}

	.sm-ml80 {
		margin-left: 80px!important;
	}

	.sm-ml90 {
		margin-left: 90px!important;
	}

	.sm-ml100 {
		margin-left: 100px!important;
	}

	.sm-ml110 {
		margin-left: 110px!important;
	}

	.sm-mr0 {
		margin-right: 0!important;
	}

	.sm-mr5 {
		margin-left: 5px!important;
	}

	.sm-mr10 {
		margin-right: 10px!important;
	}

	.sm-mr20 {
		margin-right: 20px!important;
	}

	.sm-mr30 {
		margin-right: 30px!important;
	}

	.sm-mr40 {
		margin-right: 40px!important;
	}

	.sm-mr50 {
		margin-right: 50px!important;
	}

	.sm-mr60 {
		margin-right: 60px!important;
	}

	.sm-mr70 {
		margin-right: 70px!important;
	}

	.sm-mr80 {
		margin-right: 80px!important;
	}

	.sm-mr90 {
		margin-right: 90px!important;
	}

	.sm-mr100 {
		margin-right: 100px!important;
	}

	.sm-mr110 {
		margin-right: 110px!important;
	}
}

@media only screen and (max-width: 425px){
	.xs-p0 {
		padding: 0!important;
	}

	.xs-pt10 {
		padding-top: 10px!important;
	}

	.xs-pt15 {
		padding-top: 15px!important;
	}

	.xs-pt20 {
		padding-top: 20px!important;
	}

	.xs-pt30 {
		padding-top: 30px!important;
	}

	.xs-pt40 {
		padding-top: 40px!important;
	}

	.xs-pt50 {
		padding-top: 50px!important;
	}

	.xs-pt60 {
		padding-top: 60px!important;
	}

	.xs-pt70 {
		padding-top: 70px!important;
	}

	.xs-pt80 {
		padding-top: 80px!important;
	}

	.xs-pt90 {
		padding-top: 90px!important;
	}

	.xs-pt100 {
		padding-top: 100px!important;
	}

	.xs-pt110 {
		padding-top: 110px!important;
	}

	.xs-pt120 {
		padding-top: 120px!important;
	}

	.xs-pt130 {
		padding-top: 130px!important;
	}

	.xs-pt140 {
		padding-top: 140px!important;
	}

	.xs-pb0 {
		padding-bottom: 0px!important;
	}

	.xs-pb10 {
		padding-bottom: 10px!important;
	}

	.xs-pb15 {
		padding-bottom: 15px!important;
	}

	.xs-pb20 {
		padding-bottom: 20px!important;
	}

	.xs-pb30 {
		padding-bottom: 30px!important;
	}

	.xs-pb40 {
		padding-bottom: 40px!important;
	}

	.xs-pb50 {
		padding-bottom: 50px!important;
	}

	.xs-pb60 {
		padding-bottom: 60px!important;
	}

	.xs-pb70 {
		padding-bottom: 70px!important;
	}

	.xs-pb80 {
		padding-bottom: 80px!important;
	}

	.xs-pb90 {
		padding-bottom: 90px!important;
	}

	.xs-pb100 {
		padding-bottom: 100px!important;
	}

	.xs-pb110 {
		padding-bottom: 110px!important;
	}

	.xs-pb120 {
		padding-bottom: 120px!important;
	}

	.xs-pb130 {
		padding-bottom: 130px!important;
	}

	.xs-pb140 {
		padding-bottom: 140px!important;
	}

	.xs-pl0 {
		padding-left: 0px!important;
	}

	.xs-pl3 {
		padding-left: 3px!important;
	}

	.xs-pl5 {
		padding-left: 5px!important;
	}

	.xs-pl10 {
		padding-left: 10px!important;
	}

	.xs-pl15 {
		padding-left: 15px!important;
	}

	.xs-pl20 {
		padding-left: 20px!important;
	}

	.xs-pl30 {
		padding-left: 30px!important;
	}

	.xs-pl40 {
		padding-left: 40px!important;
	}

	.xs-pl50 {
		padding-left: 50px!important;
	}

	.xs-pl60 {
		padding-left: 60px!important;
	}

	.xs-pl70 {
		padding-left: 70px!important;
	}

	.xs-pl80 {
		padding-left: 80px!important;
	}

	.xs-pl90 {
		padding-left: 90px!important;
	}

	.xs-pl100 {
		padding-left: 100px!important;
	}

	.xs-pr0 {
		padding-right: 0px!important;
	}

	.xs-pr5 {
		padding-right: 5px!important;
	}

	.xs-pr10 {
		padding-right: 10px!important;
	}

	.xs-pr15 {
		padding-right: 15px!important;
	}

	.xs-pr20 {
		padding-right: 20px!important;
	}

	.xs-pr30 {
		padding-right: 30px!important;
	}

	.xs-pr40 {
		padding-right: 40px!important;
	}

	.xs-pr50 {
		padding-right: 50px!important;
	}

	.xs-pr60 {
		padding-right: 60px!important;
	}

	.xs-pr70 {
		padding-right: 70px!important;
	}

	.xs-pr80 {
		padding-right: 80px!important;
	}

	.xs-pr90 {
		padding-right: 90px!important;
	}

	.xs-pr100 {
		padding-right: 100px!important;
	}

	.xs-pr110 {
		padding-right: 110px!important;
	}

	.xs-pr120 {
		padding-right: 120px!important;
	}

	.xs-mr-auto {
		margin: auto!important;
		float: none!important;
	}

	.xs-mt0 {
		margin-top: 0!important;
	}

	.xs-mt5 {
		margin-top: 5px!important;
	}

	.xs-mt10 {
		margin-top: 10px!important;
	}

	.xs-mt20 {
		margin-top: 20px!important;
	}

	.xs-mt30 {
		margin-top: 30px!important;
	}

	.xs-mt40 {
		margin-top: 40px!important;
	}

	.xs-mt50 {
		margin-top: 50px!important;
	}

	.xs-mt60 {
		margin-top: 60px!important;
	}

	.xs-mt70 {
		margin-top: 70px!important;
	}

	.xs-mt80 {
		margin-top: 80px!important;
	}

	.xs-mt90 {
		margin-top: 90px!important;
	}

	.xs-mt100 {
		margin-top: 100px!important;
	}

	.xs-mt110 {
		margin-top: 110px!important;
	}

	.xs-mt120 {
		margin-top: 120px!important;
	}

	.xs-mb0 {
		margin-bottom: 0!important;
	}

	.xs-mb5 {
		margin-bottom: 5px!important;
	}

	.xs-mb10 {
		margin-bottom: 10px!important;
	}

	.xs-mb15 {
		margin-bottom: 15px!important;
	}

	.xs-mb20 {
		margin-bottom: 20px!important;
	}

	.xs-mb30 {
		margin-bottom: 30px!important;
	}

	.xs-mb40 {
		margin-bottom: 40px!important;
	}

	.xs-mb50 {
		margin-bottom: 50px!important;
	}

	.xs-mb60 {
		margin-bottom: 60px!important;
	}

	.xs-mb70 {
		margin-bottom: 70px!important;
	}

	.xs-mb80 {
		margin-bottom: 80px!important;
	}

	.xs-mb90 {
		margin-bottom: 90px!important;
	}

	.xs-mb100 {
		margin-bottom: 100px!important;
	}

	.xs-mb110 {
		margin-bottom: 110px!important;
	}

	.xs-mb120 {
		margin-bottom: 120px!important;
	}

	.xs-ml0 {
		margin-left: 0!important;
	}

	.xs-ml15 {
		margin-left: 5px!important;
	}

	.xs-ml10 {
		margin-left: 10px!important;
	}

	.xs-ml20 {
		margin-left: 20px!important;
	}

	.xs-ml30 {
		margin-left: 30px!important;
	}

	.xs-ml40 {
		margin-left: 40px!important;
	}

	.xs-ml50 {
		margin-left: 50px!important;
	}

	.xs-ml60 {
		margin-left: 60px!important;
	}

	.xs-ml70 {
		margin-left: 70px!important;
	}

	.xs-ml80 {
		margin-left: 80px!important;
	}

	.xs-ml90 {
		margin-left: 90px!important;
	}

	.xs-ml100 {
		margin-left: 100px!important;
	}

	.xs-ml110 {
		margin-left: 110px!important;
	}

	.xs-mr0 {
		margin-right: 0!important;
	}

	.xs-mr5 {
		margin-left: 5px!important;
	}

	.xs-mr10 {
		margin-right: 10px!important;
	}

	.xs-mr20 {
		margin-right: 20px!important;
	}

	.xs-mr30 {
		margin-right: 30px!important;
	}

	.xs-mr40 {
		margin-right: 40px!important;
	}

	.xs-mr50 {
		margin-right: 50px!important;
	}

	.xs-mr60 {
		margin-right: 60px!important;
	}

	.xs-mr70 {
		margin-right: 70px!important;
	}

	.xs-mr80 {
		margin-right: 80px!important;
	}

	.xs-mr90 {
		margin-right: 90px!important;
	}

	.xs-mr100 {
		margin-right: 100px!important;
	}

	.xs-mr110 {
		margin-right: 110px!important;
	}
}